{% extends 'PierreSiteBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="index-header header-picture">
    </div>
    <div class="content">
        <h1>Bienvenue sur Le Blog Étudiant</h1>
    </div>
{% endblock %}
