{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}| ⚠ Erreur interne au site ¯\_(ツ)_/¯
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('SiteBundle/styles/error.less') }}" rel="stylesheet/less" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="container container-shadow">
        <div class="row content error-page-size">
            <div class="col-12">
                <div class="paragraphe">
                    <h1>⚠ Erreur interne au site ¯\_(ツ)_/¯</h1>
                </div>

                <div class="paragraphe">
                    <p>Désolé, le site rencontre une erreur interne :/.</p>
                </div>
                {% include 'redirection.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

