<div class="modal fade" data-modal-color="success" id="subscribe-success-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Votre inscription à la newsletter est validée</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Merci pour votre inscription.</p>
                <p>Un mail de confirmation vous a été envoyée !
                    <br>
                    Pensez bien à vérifier dans vos courriers indésirables.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-modal-color="error" id="subscribe-error-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Une erreur est parvenu pendant l'ajout</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Désolé, votre inscription n'a pas été prise en compte.</p>
                <p>L'adresse enregistrée n'est surement pas bonne, veuillez vérifier</p>
                <p>Si je problème persiste, merci de bien vouloir faire retourner ce problème grâce au formulaire de contact
                    <br>
                    Veuillez m'excuser du dérangement !</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-modal-color="warning" id="subscribe-warning-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vous êtes déjà inscrit à la newsletter</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Je vous remercie de votre enthoushiasme ☺</p>
                <p>Vous êtes cependant déjà inscrit avec cette adresse mail.
                <br>
                    Si vous n'avez pas encore reçu de mail, vérifiez vos courriers indésirables.
                    <br>
                    Il se peut qu'aucun mail n'est encore été envoyé de ma part !
                </p>
                <p>Soyez patient ^^'</p>
            </div>
        </div>
    </div>
</div>
