<div class="modal fade" data-modal-color="green" id="subscribeModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Votre inscription à la newsletter est validée</h4>
            </div>
            <div class="modal-body">
                <p>Merci pour votre inscription.</p>
                <p>Un mail de confirmation vous a été envoyée !
                    <br>
                    Pensez bien à vérifier dans vos courriers indésirables.</p>
            </div>
        </div>
    </div>
</div>



