<div class="paragraphe">
    <h2>Que faire ?</h2>
    <p class="not-paragraphe">Il y a de grandes chances que ta page soit une des deux suivantes :</p>
    <ul>
        <li>Identifier les aides auxquelles tu as le droit <a
                    href="{{ path('PierreConnaitresesaidesBundle_aidesetudiants') }}">en cliquant
                ici</a>.
        </li>
        <li>Connaître les bons plans pour vivre sa vie d'étudiant à 100% <a
                    href="{{ path('PierreBonsPlansBundle_homepage') }}">en cliquant ici</a>.
        </li>
    </ul>
    <p>Si tu as ce lien en favori, il se peut que la page est tout simplement été renommée. Nous te
        conseillons de retourner 2 minutes sur le site pour la retrouver.</p>
</div>
<div class="paragraphe">
    <h2>Ce n'est pas la première fois...</h2>
    <p>Si le problème persiste, nous t'invitons <a
                href="{{ path('PierreSiteBundle_contact') }}">à nous contacter</a> en expliquant
        clairement ce qui t'a mené sur cette page.
        <br>Nous pourrons corriger le problème au plus vite :)</p>
</div>
<div class="paragraphe">
    <p>Nous te remercions pour ton indulgence, le métier de développeur de site web n'est pas aussi
        simple qu'on ne le croit ☺</p>
</div>
<div class="gif-center">
    <iframe src="https://giphy.com/embed/xUA7aN1MTCZx97V1Ic" width="480" height="270" frameBorder="0"
            class="giphy-embed" allowFullScreen></iframe>
</div>
