{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('Site/styles/blog.less') }}" rel="stylesheet/less" type="text/css" />
{% endblock %}


{% block content %}

    <div class="row">
        <header id="header">

        </header>
        <div class="container">
            <section class="articles col-md-8 col-sm-12">
                {% block body %}
                {% endblock %}
            </section>
            <aside class="sidebar col-md-4 col-sm-12">
                {% block sidebar %}
                    {{ render(controller("PierreBlogBundle:Blog:sidebar")) }}
                {% endblock %}
            </aside>
        </div>
    </div>
{% endblock %}
