{% extends '::base.html.twig' %}


{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#<link href="{{ asset('Site/styles/site.less') }}" rel="stylesheet">#}
    <link href="{{ asset('Site/styles/site.less') }}" rel="stylesheet/less" type="text/css" />

{% endblock %}


{% block content %}
<h1>TEST</h1>
{% endblock %}



