{% extends 'PierreSiteBundle::layout.html.twig' %}

{% block title %}{{ parent() }} | F.A.Q {% endblock %}
{% block description %}Toutes les questions les plus fréquentes sur la Foire Aux Questions - Le Blog Étudiant{% endblock %}


{% block content %}
    <div class="container container-shadow">
        <div class="row content">
            <div class="col paragraphe">
                <div class="paragraphe">

                    <h1>Foire aux questions</h1>
                    <p>Retrouve les réponses aux questions les plus courantes. Il y a de grandes chances que la tienne y
                        soit, sinon, je te laisse nous contacter grâce à la page de contact</p>
                </div>
                <div class="paragraphe">
                    <h2>Section : Recherche des aides & avantages</h2>
                </div>
                <div class="paragraphe">
                    <p><strong>Prends le temps de lire correctement les conditions d'utilisation avant de faire une
                            demande
                            d'aides ou d'avantages.</strong><br/>
                        Certaines offres possèdent des conditions secondaires, <strong>fais attention</strong>, tu
                        risques de te retrouver avec des frais supplémentaires ou l'impossibilité de rompre ton
                        abonnement.
                        <br/>Aides : subventions accordées en fonction d'une catégorie social, sans contrepartie.
                        <br/>Avantages : réductions sur le montant total de l'achat.
                    </p>
                </div>
                <div class="paragraphe">
                    <h3> - Que veux dire aides "potentielles" ?</h3>
                    <p>Contrairement aux avantages, les aides demandent des conditions supplémentaires.
                        <br/>Les aides affichées dépendent aussi d'autres critères que ceux saisis (revenu des parents,
                        indépendance financière, formation, en concubinage...). Il se peut que tu ne puisse pas être
                        éligibles à certaines aides affichées, voire aucune !
                        <br/>Pareil si ton salaire est supérieur au SMIC, tu risques de ne pas être éligibles à certaines aides.
                        <br/>Exemple : Tu as 20 ans, étudiant et tu gagnes 0€/mois. <br/>Si tes parents gagnent
                        10.000€/mois, tu ne seras sûrement pas éligibles aux aides (bourse, APL...) malgré les
                        critères saisis.</p>
                </div>
                <div class="paragraphe">
                    <h3> - Comment accéder au site qui propose l'offre ?</h3>
                    <p>Un lien est disponible sur chaque ligne du tableau pour te rédiriger ton l'organisme qui
                        propose sont offres. Tu peux ainsi directement voir les conditions plus précises mais aussi
                        faire des simulations ou même acheter ton avantage.</p>
                </div>
                <div class="paragraphe">
                    <h3> - Le lien de redirection ne fonctionne plus, que faire ?</h3>
                    <p>Un lien peut ne plus rediriger vers l'aide ou l'avantage initial. Dans ce cas là, contacte nous
                        en expliquant bien le nom du lien qui ne fonctionne plus afin qu'une correction soit
                        faite.</p>
                </div>
                <div class="paragraphe">
                    <h3>- Ma ville n'est pas ajoutée, combien de temps dois-je attendre ?</h3>
                    <p>Il est impossible de savoir à l'avance. L'ajout des villes se fait au fur et à mesure, en général
                        par région.
                        <br/> Si tu habites dans une grande ville étudiante, sois patient, sinon fais
                        ta recherche sur une ville du même département, pour obtenir un maximum d'aides ressemblantes.</p>
                </div>
                <div class="paragraphe">
                    <h3> - Je connais des aides et avantages qui ne sont pas référencés, que faire ?</h3>
                    <p>Il se peut que tout ne soit pas référencé dans le site. Si c'est le cas, hésite pas à envoyer un
                        mail pour que l'on puisse rapidement rajouter cette information. Les autres étudiants te
                        remercieront !</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}