/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 30 janv. 2017, 18:11:43
    Author     : Pierre BELIN
*/
@import "couleur.less";

a {
  color: @color-title;
  &:hover, &:focus, &:active {
    color: @color-principal;
    text-decoration: none;
  }
  transition: all 0.5s ease;
}

.button-form {
  transition: all 0.5s ease;
  border: 2px solid @color-secondary;
  color: @color-principal;
  border-radius: 10px;
  font-size: 18px;
}

.button-form-hover {
  border: 2px solid @color-principal;
  text-decoration: none;
  color: @background-color;
  background-color: @color-principal !important;
}

.container-shadow {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 4px 4px 0 @background-color-darker;

}

.align-left-important {
  text-align: left !important;
}

body {
  background-color: @background-color;
  font-family: 'PT Sans Caption', sans-serif;
  line-height: 200%;
}

.height-max {
  height: 100%;
}

@media (min-width: @screen-lg) {
  .header-picture {
    background-size: 100%;
  }
}

@media (max-width: @screen-sm) {
  .header-picture {
    height: 180px;
  }

  .button-redirection a {
    display: block;
  }
}

.button-redirection {
  text-align: center;
  font-size: 18px;
  padding: 25px;
  a {
    padding: 15px 25px;
    .button-form;
    &:hover {
      .button-form-hover;
    }
  }
}

.btn-default {
  padding: 10px 0;
  margin-top: 10px;
  .button-form;
  &:hover, &:active, &:focus {
    .button-form-hover;
  }
}

.content-padding {
  padding: 40px 50px;
}

.content {
  .content-padding;
  clear: right;
  background-color: white;
  h1 {
    color: @color-principal;
    margin-bottom: 25px;
    margin-top: 0;
  }
  h2 {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: @color-title;
  }
  h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: @color-principal;
  }
  p {
    text-align: justify;
    margin-bottom: 15px;
  }
}

@media (max-width: 500px) {
  .content {
    padding: 35px 30px;
  }

  .content-padding {
    padding: 35px 30px;
  }
}

.btn {
  white-space: normal;
}

.main-button {
  margin-top: 30px;
  font-weight: bold;
  a {
    .button-form;
    border: 0;
    padding: 10px 15px;
    .button-force-color;
  }
}

@media (max-width: @screen-sm) {
  .main-button a {
    display: block;
  }
}

.button-force-color {
  color: @background-color;
  background-color: @color-important;
  transition: background-color 0.5s ease;
  &:hover, &:active, &:focus {
    background-color: @color-important-hover;
    color: @background-color;
  }
}

.vresize {
  resize: vertical;
  min-height: 150px;
}

.from-design {
  padding: 15px;
}

.form-margin {
  margin: 20px 0;
}

.btn-force {
  padding-left: 25px;
  padding-right: 25px;
  .button-force-color;
}

/* MAIN PAGE / INDEX */

.row-main-subscribe {
  background-color: @color-principal;
  color: @background-color;
  text-align: center;
  h1 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: bold;
  }
}

.row-colored-mainbackground {
  background-color: @background-body;
}

.row-main-quotes {
  background-color: @background-color;
}

.index-main-informations {
  text-align: center;
  p, h2 {
    text-align: center;
  }
  h2 {
    font-size: 28px;
    font-weight: bold;
  }
}

.index-ideas {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.paragraphe {
  margin-bottom: 40px;
  p {
    padding-left: 2px;
  }
}

ul {
  padding-left: 40px;
}

.not-paragraphe {
  margin-bottom: 0 !important;
}

// DISABLE SPINNERS
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

// BUTTON TO TOP
#return-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #95a5a6;
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: white;
  margin: 0;
  position: relative;
  left: 16px;
  top: 11px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: #7f8c8d;
}

#return-to-top:hover i {
  top: 3px;
}

// MODAL OKAY
.modal[data-modal-color="success"] .modal-content {
  background: @color-success;
  color: white;
}

.modal[data-modal-color="error"] .modal-content {
  background: @color-error;
  color: white;
}

.modal[data-modal-color="warning"] .modal-content {
  background: @color-info;
}

.modal {
  padding: 0 !important;
  p, h4 {
    text-align: center;
  }
}

.modal-open .modal[style]:not([style='display: none;']) {
  display: flex !important;
  height: 100%;
}

.modal-open .modal[style]:not([style='display: none;']) .modal-dialog {
  margin: auto;
}

.select2 {
  width: 100% !important;
  padding-top: 7px;
  .select2-selection__arrow {
    margin-top: 7px;
  }
}

.modal-unseen {
  a {
    font-size: 14px;
  }
  i {
    padding-right: 10px;
  }
}

// MODALS
#subscribe-modal {

  .modal-unseen {
    color: white;
    a {
      color: white;
    }
  }
  .form-group {
    div {
      padding-right: 2px;
    }
  }

  @media (max-width: 500px) {
    .form-control {
      margin-bottom: 10px;
      text-align: center;
    }

    .button-force-color {
      width: 100%;
    }

  }

  .close {
    margin-right: -10px;
  }

  .modal-socials {
    //margin-bottom: 15px;

    .modal-socials-facebook {
      background-color: @color-facebook;
      .modal-button;
    }

    .modal-socials-twitter {
      background-color: @color-twitter;
      .modal-button;
    }

    .modal-button {
      padding: 5px;
      border-radius: 8px;
      text-align: center;
    }
  }

  .modal-content {
    color: white;
    background-color: @color-success;
    padding: 0 20px;
    h3 {
      margin-bottom: 20px;
      font-weight: bold;
    }
    h4 {
      margin-bottom: 20px;
      text-align: left;
    }
    .modal-small {
      margin-top: 25px;
      margin-bottom: 15px;
    }
  }
}

