@background-color: #ECF0F1;
@background-color-darker: #bdc3c7;

@background-body: white;
@color-principal: #375D81;
@color-important-darker: #1abc9c;
@color-important: #e74c3c;
@color-important-hover: #e67e22;
@color-secondary: #C4D7ED;
@color-title: #2980B9;
@color-principal-dark: #19242E;

@color-danger: red;

@font-main: 'PT Sans Caption', sans-serif;
@color-success: @color-title;
@color-error: #c0392b;
@color-info: @color-secondary;

@color-facebook: #3b5998;
@color-twitter: #33CCFF;

@color-radio-donation: #e67e22;
@color-radio-donation-noselected: #e67e22;
