/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 26 janv. 2017, 10:33:34
    Author     : Pierre BELIN
*/
@import "couleur.less";
@import "dons.less";

.link-more {
  display: block;
}

.pub-banniere {
  img {
    width: 100%;
    height: 150px;
  }
}

.results-count {
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    color: @color-results-number;
    font-size: 16px;
    text-transform: uppercase;
  }
  .results-number {
    margin-top: 50px;
    margin-bottom: 30px;
    color: @color-results-number;
    font-size: 80px;
  }
}

.results-resume {
  padding: 15px 0px;
  line-height: 115%;
  p {
    text-align: center;
  }
  p strong {
    color: @color-title;
    text-transform: uppercase;
  }
}

.tab-resultats {
  margin-bottom: 30px;
  overflow-x: auto;
}

.msg-noresult {
  padding: 10px 0px;
  p {
    margin-bottom: 0px;
    text-align: center;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table-resultat {
  margin-top: 20px;
  thead {
    tr > th {
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: bold;
      font-size: 15px;
      border-bottom: 4px solid @color-title;
    }
  }
  tbody {
    tr > td {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .td-link {
      text-align: center;
      a {
        text-align: center;
        padding: 10px 15px;
        border-radius: 10px;
        &:hover {
          background-color: @color-principal;
          color: white;
        }
      }
    }
    .tr-odd {
      background-color: @color-secondary;
      .td-link {
        a {
          border: 2px solid @background-color;
        }
      }
    }

    .tr-even {
      background-color: @background-color;
      .td-link {
        a {
          border: 2px solid @color-secondary;
        }
      }
    }
  }
}

.subtitle {
  font-style: italic;
  text-align: center !important;
}

.remind-send-results {
  text-align: center !important;
  margin-top: 30px;
}

.remind-important {
  margin-top: 35px;
  margin-bottom: 40px;
  //border: 1px solid red;
  color: @color-danger;
  p {
    text-align: center;
  }
}


@media (min-width: 767px) {
  .slide-for-phone {
    display: none;
  }
}
