/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 26 janv. 2017, 10:33:34
    Author     : Pierre BELIN
*/

.results-resume {
  padding: 15px 0px;
  line-height: 115%;
  p {
    text-align: center;
  }
  p strong {
    color: #2980B9;
    text-transform: uppercase;
  }
}

.msg-noresult  {
  padding: 10px 0px;
  p {
    margin-bottom: 0px;
  }
}


.tab-resultats {
  padding-top: 10px;
  margin-bottom: 50px;
  p {
    text-align: center;

  }
}

.header-column {
  padding: 10px 0px;
  font-weight: bold;
  border-bottom: 4px solid #2980B9;
}

.row-tab {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #2980B9;

}

#bottom-result {
  margin-top: 30px;
}

.record-odd {
  background-color: #ADD5F7;
}

.record-even {
  background-color: #ECF0F1;
}

.row-tab a {
  text-decoration: none;
  color: #2C3E50;
}

.row-tab a:hover {
  text-decoration: none;
  font-weight: bold;
}

